*{
    box-sizing: border-box;
}
body{
    background-image: url("library3.png");

}
.parent-container{
	width:80%;
	margin:0 auto;
	display:block;
}

.left-container{
    width:25%;
	margin:auto;
    display:block;
    float:left;
}

.right-container{
    width:65%;
	margin:auto;
    display:block;
    float:right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column_1 {
    float: left;
    width: 30%;
    padding: 0px;
   
}
.column {
    float: left;
    width: 30%;
    padding-bottom: 5px;
    padding-top: 5px;
}
#base .row  {
     background-color: lightcyan; 
     border-bottom: 1px solid black;
    }

ul{
    list-style-type: none;
    padding-top: 55px;
}
.List li{
    font-size: larger;
    font-size:23px;
    padding-bottom: 22px;
}
.List li:hover{
    background-color:lightsteelblue;
    color:red;
    cursor:pointer;
}